<md-toolbar color="primary">
  <md-toolbar-row>
  </md-toolbar-row>
</md-toolbar>

<div  fxLayout="row"  fxLayoutWrap="wrap"  fxLayoutAlign="center start">
  <div fxFlex.gt-sm="90" fxFlex="100">
    <md-card class="md-card-top">
      <md-tab-group>
        <md-tab>
          <template md-tab-label>Registration</template>
          <md-card-content>
            <form (ngSubmit)="onSubmit(schoolregistration.value)" #schoolregistration="ngForm"  fxLayout="column">

              <md-input placeholder="School Name" required ngModel name="schoolName" class="mb-1"></md-input>

              <md-input placeholder="School Code" required ngModel name="schoolCode" class="mb-1"></md-input>

              <md-input placeholder="Emis Code" required ngModel name="emisCode" class="mb-1"></md-input>

              <md-input placeholder="Geo co-ordinates (long,lat)" required ngModel name="geo_cordinates" class="mb-1"></md-input>

              <md-select required ngModel name="county" placeholder="County" class="mb-1">
                <md-option *ngFor = "let name of schoolCounty" value="{{name.county}}">{{name.county}}</md-option>
              </md-select>

              <md-select required ngModel name="constituency" placeholder="Constituency" class="mb-1">
                <md-option *ngFor = "let name of schoolConstituency" value="{{name.constituency}}">{{name.constituency}}</md-option>
              </md-select>

              <md-select required ngModel name="waterSource" placeholder="Source of Water" class="mb-1">
                <md-option value="borehole">Borehole</md-option>
                <md-option value="river">River</md-option>
              </md-select>
              <hr>
              <md-card-actions>
                <button type="submit" [disabled]="!schoolregistration.valid" md-raised-button class="shadow-none">Save</button>
                <button md-raised-button class="warn">Delete</button>
                <button md-raised-button color="primary">Cancel</button>
              </md-card-actions>

            </form>
          </md-card-content>
        </md-tab>
        <md-tab>
          <template md-tab-label>Edit</template>
          <br>
          <div class="search-bar" fxFlex>
            <form class="search-form" fxShow="false" fxShow.gt-xs>
              <md-icon>search</md-icon>
              <input type="text" placeholder="Search" autofocus="true" />
            </form>
          </div>
          <md-card-content>
            <ngx-datatable
              #mydatatable
              class="material"
              [headerHeight]="50"
              [limit]="5"
              [columnMode]="'force'"
              [footerHeight]="132"
              [rowHeight]="'auto'"
              [rows]="rows">
              <ngx-datatable-column name="School Name">
                <template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span
                    title="Double click to edit"
                    (dblclick)="editing[row.$$index + '-schoolname'] = true"
                    *ngIf="!editing[row.$$index + '-schoolname']">
                    {{value}}
                  </span>
                  <input
                    autofocus
                    (blur)="updateValue($event, 'schoolname', value, row)"
                    *ngIf="editing[row.$$index + '-schoolname']"
                    type="text"
                    [value]="value"
                  />
                </template>
              </ngx-datatable-column>
              <ngx-datatable-column name="School Code">
                <template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span
                    title="Double click to edit"
                    (dblclick)="editing[row.$$index + '-schoolcode'] = true"
                    *ngIf="!editing[row.$$index + '-schoolcode']">
                    {{value}}
                  </span>
                  <input
                    autofocus
                    (blur)="updateValue($event, 'schoolcode', value, row)"
                    *ngIf="editing[row.$$index + '-schoolcode']"
                    type="text"
                    [value]="value"
                  />
                </template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Emis Code">
                <template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span
                    title="Double click to edit"
                    (dblclick)="editing[row.$$index + '-emiscode'] = true"
                    *ngIf="!editing[row.$$index + '-emiscode']">
                    {{value}}
                  </span>
                  <input
                    autofocus
                    (blur)="updateValue($event, 'emiscode', value, row)"
                    *ngIf="editing[row.$$index + '-emiscode']"
                    type="text"
                    [value]="value"
                  />
                </template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Geo-cordinates (Long, Lat)">
                <template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span
                    title="Double click to edit"
                    (dblclick)="editing[row.$$index + '-geocordinates'] = true"
                    *ngIf="!editing[row.$$index + '-geocordinates']">
                    {{value}}
                  </span>
                  <input
                    autofocus
                    (blur)="updateValue($event, 'geocordinates', value, row)"
                    *ngIf="editing[row.$$index + '-geocordinates']"
                    type="text"
                    [value]="value"
                  />
                </template>
              </ngx-datatable-column>
              <ngx-datatable-column name="County">
                <template ngx-datatable-cell-template let-row="row" let-value="value">
                   <span
                    title="Double click to edit"
                    (dblclick)="editing[row.$$index + '-county'] = true"
                    *ngIf="!editing[row.$$index + '-county']">
                    {{value}}
                  </span>
                  <select
                    *ngIf="editing[row.$$index + '-county']"
                    (change)="updateValue($event, 'county', value, row)"
                    [value]="value">
                    <option value="nairobi">Nairobi</option>
                    <option value="kisumu">Kisumu</option>
                  </select>
                </template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Constituency">
                <template ngx-datatable-cell-template let-row="row" let-value="value">
                   <span
                    title="Double click to edit"
                    (dblclick)="editing[row.$$index + '-constituency'] = true"
                    *ngIf="!editing[row.$$index + '-constituency']">
                    {{value}}
                  </span>
                  <select
                    *ngIf="editing[row.$$index + '-constituency']"
                    (change)="updateValue($event, 'constituency', value, row)"
                    [value]="value">
                    <option value="starehe">Starehe</option>
                    <option value="lang'ata">Lang'ata</option>
                  </select>
                </template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Source of Water">
                <template ngx-datatable-cell-template let-row="row" let-value="value">
                   <span
                    title="Double click to edit"
                    (dblclick)="editing[row.$$index + '-source'] = true"
                    *ngIf="!editing[row.$$index + '-source']">
                    {{value}}
                  </span>
                  <select
                    *ngIf="editing[row.$$index + '-source']"
                    (change)="updateValue($event, 'source', value, row)"
                    [value]="value">
                    <option value="borehole">Borehole</option>
                    <option value="river">River</option>
                  </select>
                </template>
              </ngx-datatable-column>

            </ngx-datatable>
            <hr>
            <md-card-actions>
              <button md-raised-button class="shadow-none">Save</button>
              <button md-raised-button class="warn">Delete</button>
              <button md-raised-button color="primary">Cancel</button>
            </md-card-actions>
          </md-card-content>
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
</div>
