<md-toolbar color="primary">
  <md-toolbar-row>
  </md-toolbar-row>
</md-toolbar>

<div  fxLayout="row"  fxLayoutWrap="wrap"  fxLayoutAlign="center start">
  <div fxFlex.gt-sm="90" fxFlex="100">
    <md-card class="md-card-top">
      <md-tab-group>
        <md-tab>
          <template md-tab-label>Child Registration</template>
          <md-card-content>
            <small style="color: green;">{{success}}</small>
            <small style="color: red;">{{fail}}</small>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value);" >
              <div  fxLayout="row">
                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                  <md-input dividerColor="primary" placeholder="First Name (required)" [formControl]="form.controls['firstName']"  type="text"></md-input>
                  <small *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched" class="md-text-warn">Kindly include a first name.</small>
                </div>
                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                  <md-input dividerColor="primary" placeholder="Mid Name"  [formControl]="form.controls['maidenName']"  type="text"  ></md-input>
                </div>

                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                  <md-input dividerColor="primary" placeholder="Last Name (required)" [formControl]="form.controls['lastName']"  type="text" ></md-input>
                  <small *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched" class="md-text-warn">Kindly include a last name.</small>
                </div>
              </div>

              <div  fxLayout="row">
                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                  <md-input placeholder="Admission Number (required)" [formControl]="form.controls['admNo']"  type="text"></md-input>
                  <small *ngIf="form.controls['lastName'].hasError('required') && form.controls['admNo'].touched" class="md-text-warn">Kindly include student's admission no.</small>
                </div>

                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                  <md-input placeholder="Date Enrolled (required)" [formControl]="form.controls['enrolDate']" type="date"></md-input>
                  <small *ngIf="form.controls['enrolDate'].hasError('required') && form.controls['enrolDate'].touched" class="md-text-warn">Kindly include a date.</small>
                  <small *ngIf="form.controls['enrolDate'].errors?.date && form.controls['enrolDate'].touched" class="md-text-warn">Kindly include a valid date.</small>
                </div>
              </div>

              <div  fxLayout="row">
                <span style="margin-right:90px;"></span>
                <label>Gender</label>
                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 70%;">
                    <md-radio-group [formControl]="form.controls['gender']">
                      <md-radio-button value="M">Male</md-radio-button>
                      <md-radio-button value="F">Female</md-radio-button>
                    </md-radio-group>
                    <small *ngIf="form.controls['gender'].hasError('required') && form.controls['gender'].touched" class="md-text-warn">Kindly input the student's gender.</small>
                  </div>

                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                    <md-input placeholder="Birthday (required)" [formControl]="form.controls['dateOfBirth']" type="date"></md-input>
                    <small *ngIf="form.controls['dateOfBirth'].hasError('required') && form.controls['dateOfBirth'].touched" class="md-text-warn">Kindly include a date.</small>
                    <small *ngIf="form.controls['dateOfBirth'].errors?.date && form.controls['dateOfBirth'].touched" class="md-text-warn">Kindly include a valid date.</small>
                  </div>
              </div>

              <div  fxLayout="row" >
                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
                  <md-select required [formControl]="form.controls['className']"  placeholder="Class (required)">
                    <md-option *ngFor = "let name of schoolClasses" value="{{name.id}}">
                      {{name.class_name}}
                    </md-option>
                  </md-select>
                  <small *ngIf="form.controls['className'].hasError('required') && form.controls['className'].touched" class="md-text-warn">Kindly input the class.</small>
            -   </div>

                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 40%;">
                  <md-input placeholder="Previous Class" [formControl]="form.controls['previousClass']"  type="text"></md-input>
                  <small *ngIf="form.controls['previousClass'].hasError('required') && form.controls['previousClass'].touched" class="md-text-warn">Kindly input the previous class.</small>
                </div>

                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
                  <md-select ngModel [formControl]="form.controls['notInSchool']" placeholder="Been in school before?">
                    <md-option value="True">Yes</md-option>
                    <md-option value="False">No</md-option>
                  </md-select>
                  <small *ngIf="form.controls['notInSchool'].hasError('required') && form.controls['notInSchool'].touched" class="md-text-warn">Kindly input a value.</small>
                </div>
              </div>

              <div  fxLayout="row">
                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 50%;">
                  <md-select [formControl]="form.controls['modeOfTransport']"  placeholder="Mode of Transport">
                    <md-option value="Personal Vehicle">Personal Vehicle</md-option>
                    <md-option value="School Bus">School Bus</md-option>
                    <md-option value="By Foot">By Foot</md-option>
                  </md-select>
                  <small *ngIf="form.controls['modeOfTransport'].hasError('required') && form.controls['modeOfTransport'].touched" class="md-text-warn">Kindly input the child's mode of transport.</small>
                </div>

                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 50%;">
                  <md-select [formControl]="form.controls['timeToSchool']"  placeholder="Time taken to reach school">
                    <md-option value="less than 1/2 hour">Less than 1/2 hour</md-option>
                    <md-option value="1 hour">1 hour</md-option>
                    <md-option value="more">More than 1 hour</md-option>
                  </md-select>
                  <small *ngIf="form.controls['timeToSchool'].hasError('required') && form.controls['timeToSchool'].touched" class="md-text-warn">Kindly input the child's time taken to school.</small>
                </div>
              </div>

              <h6>Household Details</h6>
              <div  fxLayout="row">
                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
                  <md-select [formControl]="form.controls['stayWith']"   placeholder="Whom do you stay with?">
                    <md-option value="Parents">Parents</md-option>
                    <md-option value="Guardians">Guardians</md-option>
                    <md-option value="Alone">Alone</md-option>
                  </md-select>
                </div>

                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 35%;">
                  <md-input  placeholder="Number of people in household" [formControl]="form.controls['householdNumber']" type="text"></md-input>
                </div>

                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 35%;">
                  <md-input  placeholder="Number of meals/day" [formControl]="form.controls['mealsInDay']" type="text"></md-input>
                </div>
              </div>
              <hr>
              <md-card-actions>
                <button type="submit" [disabled]="!form.valid" md-raised-button class="shadow-none">Save</button>
                <!--<button md-raised-button class="warn">Delete</button>-->
                <button type="button" (click)="resetButton()" md-raised-button color="primary">Cancel</button>
              </md-card-actions>
            </form>
          </md-card-content>
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
</div>
