<!--
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
     <agm-data-layer *ngIf="geoJsonObject" [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc" >
     </agm-data-layer>
</agm-map>
-->
<!--
<div id="map"></div>
-->

<div id="controls" class="nicebox">
  <div>
      <select id="county-variable">
        <option *ngFor="let a of selections; let index" (click)="loadCensusData(a.select)" value="{{a.select}}">{{a.select}}</option>
      </select>
  </div>
  </div>
  <div id="data-box" class="nicebox">
      <label id="data-label" for="data-value"></label>
      <span id="data-value"></span>
  </div>
  <div id="map"></div>
