<div class="wrapper">
  <div  fxLayout="row"  fxLayoutWrap="wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="90" fxFlex="100">
      <md-card>
        <md-card-content>
          <div  fxLayout="row">
            <div fxFlex="55">
              <h4 class="ma-0">{{firstname}}&nbsp;<b>{{childname}}</b></h4>
              <p><small>Emis Code: </small>{{emiscode}}</p>
              <p><small>{{class_}}</small></p>
              <p><small>Date Enrolled: </small>1997/12/01</p>
              <button md-raised-button color="primary" (click)="editProfile = true">Edit Profile</button>
            </div>
            <div fxFlex="45">
              <figure>
                <div class="text-xs-center">
                  <h4 style="color: red">30%</h4>
                  <div class="text-md mt10">Attendance record</div>
                </div>
                <div class="ma-xs">
                  <md-progress-bar mode="determinate" value="40"></md-progress-bar>
                </div>
                <div  class="text-xs-center"><small>Status:</small>&nbsp;&nbsp;
                  High chance of dropping out
                </div>
              </figure>
            </div>
          </div>
        </md-card-content>
        <!--edit profile modal -->
        <div fxLayoutAlign="center start" fxFlex="100">
          <md-card class="md-card-top" *ngIf="editProfile">
            <md-toolbar color="warn">
              <span fxFlex="100">Child Details</span>
              <button md-icon-button (click)="editProfile = false">
                <md-icon>close</md-icon>
              </button>
            </md-toolbar>
            <md-card-content>
              <small style="color: green;">{{success}}</small>
              <small style="color: red;">{{fail}}</small>
              <form [formGroup]="form" (ngSubmit)="onSubmit(form.value);" >
                <div  fxLayout="row">
                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                    <md-input dividerColor="primary"  placeholder="First Name (required)" name="firstName" value="{{firstname}}" FormControlName="firstName"  type="text"></md-input>
                    <!--<small *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched" class="md-text-warn">Kindly include a first name.</small>
                    -->
                  </div>
                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                    <md-input dividerColor="primary" placeholder="Mid Name" value="{{midname}}" name="maidenName" FormControlName="maidenName" type="text"  ></md-input>
                  </div>

                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                    <md-input dividerColor="primary" placeholder="Last Name (required)" value="{{lastname}}" name="lastName" FormControlName="lastName"   type="text" ></md-input>
                    <!--<small *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched" class="md-text-warn">Kindly include a last name.</small>
                    -->
                  </div>
                </div>

                <div  fxLayout="row">
                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                    <md-input placeholder="Admission Number (required)" value="{{admNo}}" name="admNo" FormControlName="admNo"   type="text"></md-input>
                    <!--<small *ngIf="form.controls['lastName'].hasError('required') && form.controls['admNo'].touched" class="md-text-warn">Kindly include student's admission no.</small>
                    -->
                  </div>

                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                    <md-input placeholder="Date Enrolled (required)" value="{{enrolDate}}" name="enrolDate" FormControlName="enrolDate" type="date"></md-input>
                    <!--<small *ngIf="form.controls['enrolDate'].hasError('required') && form.controls['enrolDate'].touched" class="md-text-warn">Kindly include a date.</small>
                    <small *ngIf="form.controls['enrolDate'].errors?.date && form.controls['enrolDate'].errors?.maxDate && form.controls['enrolDate'].touched" class="md-text-warn">Kindly include a valid date.</small>
                  -->
                  </div>
                </div>

                <div  fxLayout="row">
                  <span style="margin-right:90px;"></span>
                  <label>Gender</label>
                    <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 70%;">
                      <md-radio-group value="{{gender}}" name="gender" FormControlName="gender">
                        <md-radio-button value="M">Male</md-radio-button>
                        <md-radio-button value="F">Female</md-radio-button>
                      </md-radio-group>
                      <!--<small *ngIf="form.controls['gender'].hasError('required') && form.controls['gender'].touched" class="md-text-warn">Kindly input the student's gender.</small>
                      -->
                    </div>

                    <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                      <md-input placeholder="Birthday (required)" value="{{dateOfBirth}}" name="dateOfBirth" FormControlName="dateOfBirth" type="date"></md-input>
                      <!--<small *ngIf="form.controls['dateOfBirth'].hasError('required') && form.controls['dateOfBirth'].touched" class="md-text-warn">Kindly include a date.</small>
                      <small *ngIf="form.controls['dateOfBirth'].errors?.date && form.controls['dateOfBirth'].errors?.maxDate && form.controls['dateOfBirth'].touched" class="md-text-warn">Kindly include a valid date.</small>
                    -->
                    </div>
                </div>

                <div  fxLayout="row" >
                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
                    <md-select required [formControl]="form.controls['className']"  placeholder="Class (required)">
                      <md-option name="className" *ngFor = "let name of schoolClasses" value="{{name.id}}">
                        {{name.class_name}}
                      </md-option>
                    </md-select>
                    <!--<small *ngIf="form.controls['className'].hasError('required') && form.controls['className'].touched" class="md-text-warn">Kindly input the class.</small>
                    -->
                </div>

                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 40%;">
                    <md-input placeholder="Previous Class" value="{{previousClass}}" name="previousClass" FormControlName="previousClass" type="text"></md-input>
                    <!--<small *ngIf="form.controls['previousClass'].hasError('required') && form.controls['previousClass'].touched" class="md-text-warn">Kindly input the previous class.</small>
                    <small *ngIf="form.controls['previousClass'].errors?.number && form.controls['previousClass'].touched" class="md-text-warn">Kindly input a valid digit.</small>
                  -->
                  </div>

                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
                    <md-select ngModel  [formControl]="form.controls['notInSchool']" placeholder="Been in school before?">
                      <md-option selected value="{{inSchool}}">{{inSchool}}</md-option>
                      <md-option value="True">Yes</md-option>
                      <md-option value="False">No</md-option>
                    </md-select>
                    <!--<small *ngIf="form.controls['notInSchool'].hasError('required') && form.controls['notInSchool'].touched" class="md-text-warn">Kindly input a value.</small>
                    -->
                  </div>
                </div>

                <div  fxLayout="row">
                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 50%;">
                    <md-select  [formControl]="form.controls['modeOfTransport']"  placeholder="Mode of Transport">
                      <md-option selected value="{{mode_of_transport}}">{{mode_of_transport}}</md-option>
                      <md-option value="Personal Vehicle">Personal Vehicle</md-option>
                      <md-option value="School Bus">School Bus</md-option>
                      <md-option value="By Foot">By Foot</md-option>
                    </md-select>
                    <!--<small *ngIf="form.controls['modeOfTransport'].hasError('required') && form.controls['modeOfTransport'].touched" class="md-text-warn">Kindly input the child's mode of transport.</small>
                    -->
                  </div>

                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 50%;">
                    <md-select  [formControl]="form.controls['timeToSchool']"   placeholder="Time taken to reach school">
                      <md-option selected value="{{time_to_school}}">{{time_to_school}}</md-option>
                      <md-option value="less than 1/2 hour">Less than 1/2 hour</md-option>
                      <md-option value="1 hour">1 hour</md-option>
                      <md-option value="more">More than 1 hour</md-option>
                    </md-select>
                    <!--<small *ngIf="form.controls['timeToSchool'].hasError('required') && form.controls['timeToSchool'].touched" class="md-text-warn">Kindly input the child's time taken to school.</small>
                    -->
                  </div>
                </div>

                <h6>Household Details</h6>
                <hr>
                <br>
                <div  fxLayout="row">
                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
                    <md-select ngModel  [formControl]="form.controls['stayWith']"  placeholder="Whom do you stay with?">
                      <md-option value="{{guardian}}">{{guardian}}</md-option>
                      <md-option value="Parents">Parents</md-option>
                      <md-option value="Guardians">Guardians</md-option>
                      <md-option value="Alone">Alone</md-option>
                    </md-select>
                  </div>

                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 35%;">
                    <md-input  placeholder="Number of people in household" value="{{household}}" name="householdNumber" FormControlName="householdNumber" type="text"></md-input>
                  </div>

                  <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 35%;">
                    <md-input  placeholder="Number of meals/day" value="{{meals}}" name="mealsInDay" FormControlName="mealsInDay" type="text"></md-input>
                    <!--<small *ngIf="form.controls['mealsInDay'].errors?.number && form.controls['phoneNumber'].touched" class="md-text-warn">Kindly input a digit.</small>
                    -->
                  </div>
                </div>
                <hr>
                <md-card-actions>
                  <button type="submit" [disabled]="!form.valid" md-raised-button class="shadow-none">Save</button>
                  <!--<button md-raised-button class="warn">Delete</button>-->
                  <button type="button" (click)="resetButton()" md-raised-button color="primary">Cancel</button>
                </md-card-actions>
              </form>
            </md-card-content>
          </md-card>
        </div>
        <hr>
        <md-card-content>
          <div  fxLayout="row" class="text-xs-center">
            <div fxFlex="33">
              <small>School</small>
              <h2 class="mt-0"><b>{{schoolName}}</b></h2>
            </div>
            <div fxFlex="33">
              <small>Enrollment</small>
              <h2 class="mt-0"><b>{{enrolled}}</b></h2>
            </div>
            <div fxFlex="33">
              <small>Student</small>
              <h2 class="mt-0"><b>{{childType}}</b></h2>
            </div>
          </div>
        </md-card-content>
        <hr>
        <md-card-content>
          <p class="text-xs-center">The data below shows the meta-data of an individual child</p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-tab-group>
          <md-tab>
            <template md-tab-label>Bio</template>
            <md-card-content>
              <h6 class="mt-0 mb-1">Basic Information</h6>
              <div  fxLayout="row" layout-align="center">
                <div class="pr-1" fxFlex>
                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Date Of Birth</span>
                    <strong>{{dob}}</strong>
                  </div>

                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Gender</span>
                    <strong>{{gender}}</strong>
                  </div>

                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Time taken to reach school</span>
                    <strong>{{time_to_school}}</strong>
                  </div>

                  <div  fxLayout="column">
                    <span class="text-md">Mode of Transport to school</span>
                    <strong>{{mode_of_transport}}</strong>
                  </div>
                </div>
                <div class="pl-1" fxFlex>
                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Stay with</span>
                    <strong>{{staywith}}</strong>
                  </div>

                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Number of people in household</span>
                    <strong>{{household}}</strong>
                  </div>

                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Meals per day</span>
                    <strong>{{meals}}</strong>
                  </div>
                </div>
              </div>
            </md-card-content>
            <hr>
          </md-tab>
          <md-tab>
            <template md-tab-label>Guardian Information</template>
            <md-card-content>
              <h6 class="mt-0 mb-1">Contact Deatails</h6>
              <div  fxLayout="row" layout-align="center">
                <div class="pr-1" fxFlex>
                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Parent / Guardian Name:</span>
                    <strong>{{guardian}}</strong>
                  </div>
                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Phonenumber: </span>
                    <strong>{{phone}}</strong>
                  </div>
                </div>
              </div>
            </md-card-content>
          </md-tab>
        </md-tab-group>
      </md-card>
    </div>
  </div>
</div>
