<div class="wrapper">
  <div  fxLayout="row"  fxLayoutWrap="wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="90" fxFlex="100">
      <md-card>
        <md-card-content>
          <div  fxLayout="row">
            <div fxFlex="55">
              <h4 class="ma-0">{{firstname}}&nbsp;<b>{{childname}}</b></h4>
              <p><small>Emis Code: </small>{{emiscode}}</p>
              <p><small>Class: {{class_}}</small></p>
              <p><small>Date Enrolled: </small>{{enrolDate}}</p>
              <!--<button md-raised-button color="primary" (click)="editProfile = true">Edit Profile</button>-->
              <!--<button md-raised-button color="primary" (click)="open()" [disabled]="dialogRef">Edit Student</button>-->
            </div>
            <div fxFlex="45">
              <figure>
                <div class="text-xs-center">
                  <h4 style="color: green">{{percentAttendance}} %</h4>
                  <div class="text-md mt10">Monthly Attendance record</div>
                </div>
                <div class="ma-xs">
                  <md-progress-bar mode="determinate" value="{{percentAttendance}}"></md-progress-bar>
                </div>
                <div  class="text-xs-center"><small>Status:</small>&nbsp;&nbsp;
                  Overall attendance percentage
                </div>
              </figure>
            </div>
          </div>
          <br><br>
          <div  fxLayout="row" class="text-xs-center">
            <div fxFlex="33">
              <small>School</small>
              <h2 class="mt-0"><b>{{schoolName}}</b></h2>
            </div>
            <div fxFlex="33">
              <small>Enrollment</small>
              <h2 class="mt-0"><b>{{enrolled}}</b></h2>
            </div>
            <div fxFlex="33">
              <small>Student</small>
              <h2 class="mt-0"><b>{{childType}}</b></h2>
            </div>
          </div>
        </md-card-content>
        <hr>
        <md-card-content>
          <p class="text-xs-center">The data below shows the meta-data of an individual child</p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-tab-group>
          <md-tab>
            <template md-tab-label fxFlex.gt-sm="20" fxFlex.gt-xs="50">Bio</template>
            <md-card-content>
              <h6 class="mt-0 mb-1">Basic Information</h6>
              <div  fxLayout="row" layout-align="center">
                <div class="pr-1" fxFlex>
                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Date Of Birth</span>
                    <strong>{{dob}}</strong>
                  </div>

                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Gender</span>
                    <strong>{{gender}}</strong>
                  </div>

                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Time taken to reach school</span>
                    <strong>{{time_to_school}}</strong>
                  </div>

                  <div  fxLayout="column">
                    <span class="text-md">Mode of Transport to school</span>
                    <strong>{{mode_of_transport}}</strong>
                  </div>
                </div>
                <div class="pl-1" fxFlex>
                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Stay with</span>
                    <strong>{{staywith}}</strong>
                  </div>

                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Number of people in household</span>
                    <strong>{{household}}</strong>
                  </div>

                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Meals per day</span>
                    <strong>{{meals}}</strong>
                  </div>
                </div>
              </div>
            </md-card-content>
            <hr>
          </md-tab>
          <md-tab>
            <template md-tab-label fxFlex.gt-sm="20" fxFlex.gt-xs="50">Guardian Information</template>
            <md-card-content>
              <h6 class="mt-0 mb-1">Contact Details</h6>
              <div  fxLayout="row" layout-align="center">
                <div class="pr-1" fxFlex>
                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Parent / Guardian Name:</span>
                    <strong>{{guardian}}</strong>
                  </div>
                  <div  fxLayout="column" class="mb-1">
                    <span class="text-md">Phonenumber: </span>
                    <strong>{{phone}}</strong>
                  </div>
                </div>
              </div>
            </md-card-content>
          </md-tab>
          <md-tab>
            <template md-tab-label fxFlex.gt-sm="20" fxFlex.gt-xs="50">Monthly Attendance Record</template>

            <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
              <md-card *ngIf="nonattendant">
                <md-card-title>No Data to Display</md-card-title>
                <md-card-subtitle>Attendance for the last 4 weeks</md-card-subtitle>
                <md-card-content>
                  {{firstname}} {{childname}} {{nonattendant}}
                </md-card-content>
              </md-card>
              <md-card *ngIf="attendant">
                <md-card-title>{{firstname}} {{childname}}</md-card-title>
                <md-card-subtitle>Attendance for the past 4 weeks</md-card-subtitle>
                <md-card-content>
                  <canvas height="200" baseChart class="chart"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [colors]="lineChartColors"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"></canvas>
                </md-card-content>
              </md-card>
            </div>
          </md-tab>
        </md-tab-group>
      </md-card>
    </div>
  </div>
</div>
