<md-card>
  <md-card-title>Data File upload</md-card-title>
  <md-card-subtitle>Upload excel files in the correct format</md-card-subtitle>

  <md-card-content>
    <small *ngIf="success" style="color: green;">{{success}}</small>
    <small *ngIf="fail" style="color: red;">{{fail}}</small>
    <small *ngIf="importAbort" style="color: red;">{{importAbort}}</small>
    <div  fxLayout="row"  fxLayoutWrap="wrap"  fxLayoutAlign="start">
      <div fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="100"  class="pr-1">
        <h6 class="mt-0">Select a file</h6>
        <form [formGroup]="form"  method="post"  enctype="multipart/form-data">
          <input id="fileSelect"  [formControl]="form.controls['myfile']" type="file" (change)="Importupload($event)"  name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />

          <div class="mb-1" style="margin-top: 10px;">
            <button md-raised-button md-button-sm color="primary" type="button">Upload</button>
            <button md-raised-button md-button-sm color="warn" (click)="AbortImport($event)" type="button">Cancel</button>
            <button md-raised-button md-button-sm color="accent" type="button">Remove</button>
          </div>
        </form>
      </div>
      <!--
      <div fxFlex.gt-sm="80" fxFlex.gt-xs="50" fxFlex="100">
        <ngx-datatable
          class="material ml-0 mr-0"
          [rows]=""
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Name" [flexGrow]="2">
            <template let-row="row" ngx-datatable-cell-template>
              {{ row?.file?.name }}
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Size"  [flexGrow]="1">
            <template let-row="row" ngx-datatable-cell-template>
              {{ row?.file?.size/1024/1024 | number:'.2' }} MB
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Progress"  [flexGrow]="1">
            <template let-row="row" ngx-datatable-cell-template>
              <md-progress-bar mode="determinate" value="{{row.progress}}"></md-progress-bar>
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="status" [flexGrow]="1">
            <template let-row="row" ngx-datatable-cell-template>
              <span *ngIf="row.isSuccess"><md-icon>check</md-icon></span>
              <span *ngIf="row.isCancel"><md-icon>cancel</md-icon></span>
              <span *ngIf="row.isError"><md-icon>delete</md-icon></span>
            </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="action" [flexGrow]="2">
            <template let-row="row" ngx-datatable-cell-template>

              <button md-raised-button md-button-sm color="primary" type="button"
                (click)="row.upload()" [disabled]="row.isReady || row.isUploading || row.isSuccess">Upload</button>
              <button md-raised-button md-button-sm color="warn" type="button"
                (click)="row.cancel()" [disabled]="!row.isUploading">Cancel</button>
              <button md-raised-button md-button-sm color="accent" type="button"
                (click)="row.remove()">Remove
              </buttfon>
            </template>
          </ngx-datatable-column>
        </ngx-datatable>

        <div class="mb-1">
          <p>Queue progress:</p>
          <md-progress-bar mode="determinate" value=""></md-progress-bar>
        </div>
      </div>-->
    </div>
  </md-card-content>
</md-card>
