<md-card>
  <md-card-title>Data File upload</md-card-title>
  <md-card-subtitle>Upload excel files in the correct format</md-card-subtitle>

  <md-card-content>
    <small *ngIf="success" style="color: green;">{{success}}</small>
    <small *ngIf="fail" style="color: red;">{{fail}}</small>
    <small *ngIf="importAbort" style="color: red;">{{importAbort}}</small>
    <div  fxLayout="row"  fxLayoutWrap="wrap"  fxLayoutAlign="start">
      <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100"  class="pr-1">
        <h6 class="mt-0">Select a file</h6>
        <form [formGroup]="form"  method="post"  enctype="multipart/form-data">

          <!--original<input id="fileSelect"  [formControl]="form.controls['myfile']" type="file" (change)="Importupload($event)"  name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
          -->
          <input id="fileSelect"  [formControl]="form.controls['myfile']" type="file" #myfile name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
          <br><br>
          You need to <b>Verify</b> the data before importing.
          <button md-raised-button md-button-sm class="shadow-none"  type="button" (click)="Verifyupload()">Verify</button>
          <span *ngIf="duplicateData"><h6 style="color: red;">{{duplicateData}}</h6></span>
          <br>
          <div class="mb-1" style="margin-top: 10px;">
            <button md-raised-button md-button-sm color="primary" (click)="Importupload()" type="button">Upload</button>
            <button md-raised-button md-button-sm color="warn" (click)="AbortImport()" type="button">Cancel</button>
            <button md-raised-button md-button-sm color="accent" type="button">Remove</button>
          </div>
        </form>
      </div>
    </div>
  </md-card-content>
</md-card>

<!--errors display-->
<div *ngIf="errorDiv">
  <div fxLayout="row"  fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
      <md-card class="card-widget md-white">
        <div md-card-widget>
          <div class="pl-0">
            <h6 md-card-widget-title><b>{{ total_success }}</b></h6>
            <small>Total Success</small>
          </div>
        </div>
      </md-card>
    </div>
    <div fxFlex.gt-sm="34" fxFlex.gt-xs="50" fxFlex="100">
      <md-card class="card-widget md-white">
        <div md-card-widget>
          <div class="pl-0">
            <h6 md-card-widget-title>{{ total_fails }}</h6>
            <small>Total Fails</small>
          </div>
        </div>
      </md-card>
    </div>
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
      <md-card class="card-widget md-white">
        <div md-card-widget>
          <div class="pl-0">
            <h6 md-card-widget-title>{{ success_percentage }}</h6>
            <small>Success percentage</small>
          </div>
        </div>
      </md-card>
    </div>
  </div>

  <ngx-datatable
    class="material fullscreen"
    [columns]="columns"
    [sortType]="'multi'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="auto"
    [rows]="errors"
    [selected]="selected"
    [selectionType]="'single'"
    [externalPaging]="true"
    [count]="count"
    [offset]="offset"
    [limit]="limit">
  </ngx-datatable>
</div>
