<div class="app" #root="$implicit" dir="ltr" [ngClass]="{'app-dark': dark}">
  <md-toolbar class="main-header" color="primary">
    <button (click)="sidemenu.toggle()" md-icon-button>
      <md-icon>menu</md-icon>
    </button>
    <div class="branding">
      <div class="logo"></div>
    </div>
    <div fxFlex *ngIf="userType == 'admin'">Welcome Unicef</div>
    <div fxFlex *ngIf="userType == 'partner'">Welcome {{welcomeName}}</div>
    <div fxFlex *ngIf="userType == 'teacher'">Welcome {{welcomeName}}</div>
    <button appToggleFullscreen md-icon-button>
      <md-icon>fullscreen</md-icon>
    </button>
    <!-- <button (click)="end.toggle()" md-icon-button class="ml-xs overflow-visible">
      <md-icon>notifications</md-icon>
      <span class="notification-label">5</span>
    </button> -->
    <button [md-menu-trigger-for]="user" md-icon-button class="ml-xs">
      <md-icon>person</md-icon>
    </button>
    <md-menu #user="mdMenu" x-position="before">
      <!--<button md-menu-item>
        <md-icon>settings</md-icon>
        Settings
      </button>-->
      <a [routerLink]="['/profile']" md-menu-item>
        <md-icon>account_box</md-icon>
        Profile
      </a>
      <!--<button md-menu-item>
        <md-icon>notifications_off</md-icon>
        Disable notifications
      </button>-->
      <button (click) = "logout()" md-menu-item>
        <md-icon>exit_to_app</md-icon>
        Sign Out
      </button>
    </md-menu>
  </md-toolbar>
  <md-sidenav-layout class="app-inner">
    <md-sidenav #sidemenu class="sidebar-panel" [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()">
      <md-nav-list class="navigation accordion">
        <md-list-item class="accordion-link" *ngFor="let menuitem of menuItems.getadmin()" group="{{menuitem.state}}">
          <!--Link-->
          <a class="accordion-toggle relative" md-ripple *ngIf="menuitem.type === 'link' && userDashboard==='partner'" [routerLink]="['/', menuitem.state]">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a class="accordion-toggle relative" md-ripple *ngIf="userDashboard==='admin' && menuitem.access === 'all' && menuitem.type === 'link'" [routerLink]="['/', menuitem.state]">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>

          <a  class="accordion-toggle relative" md-ripple *ngIf="userDashboard==='teacher' && menuitem.accessibilitylink === userDashboard && menuitem.usertype != userDashboard && menuitem.type === 'link'" [routerLink]="['/school', menuitem.id]">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <!--End-->
          <!--Ext Link Start-->
          <a class="accordion-toggle relative" md-ripple href="{{menuitem.state}}" *ngIf="menuitem.type === 'extLink'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <!--End-->
          <!--Ext Tab Link-->
          <a class="accordion-toggle relative" md-ripple href="{{menuitem.state}}" target="_blank" *ngIf="menuitem.type === 'extTabLink'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <!--End-->
          <!--Sub Start-->
          <a class="accordion-toggle relative" md-ripple href="javascript:;" *ngIf="menuitem.type === 'sub' && menuitem.usertype === userType || menuitem.access === 'admin' && menuitem.accessibility != userType">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <md-icon class="menu-caret">arrow_drop_down</md-icon>
          </a>
          <a class="accordion-toggle relative" md-ripple href="javascript:;" *ngIf="menuitem.type === 'sub' && menuitem.access === 'all'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <md-icon class="menu-caret">arrow_drop_down</md-icon>
          </a>

          <a class="accordion-toggle relative" md-ripple href="javascript:;" *ngIf="menuitem.type === 'sub' && menuitem.accessibilitylink === 'teacher' && menuitem.usertype != userType && menuitem.access != 'all'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <md-icon class="menu-caret">arrow_drop_down</md-icon>
          </a>
          <!--End-->
          <!--Sub Child Start-->
          <md-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub' && menuitem.usertype === userType || menuitem.access === 'admin' && menuitem.accessibility != userType">
            <md-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">
              <a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" md-ripple>{{ childitem.name | translate }}</a>
            </md-list-item>
          </md-nav-list>
          <md-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub' && menuitem.access === 'all'">
            <md-list-item *ngFor="let childitem of menuitem.children"  routerLinkActive="open">
              <a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" md-ripple>{{ childitem.name | translate }}</a>
            </md-list-item>
          </md-nav-list>

          <md-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub' && menuitem.accessibilitylink === 'teacher' && menuitem.usertype != userType  && menuitem.access != 'all'">
            <md-list-item *ngFor="let childitem of menuitem.children"  routerLinkActive="open">
              <a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" md-ripple>{{ childitem.name | translate }}</a>
            </md-list-item>
          </md-nav-list>
          <!--End-->
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-layout>
</div>
