<div class="app" #root="$implicit" dir="ltr" [ngClass]="{'app-dark': dark}">
  <md-toolbar class="main-header" color="primary">
    <button (click)="sidemenu.toggle()" md-icon-button>
      <md-icon>menu</md-icon>
    </button>
    <div class="branding">
      <div class="logo"></div>
    </div>
    <!-- Search Bar
    <div class="search-bar" fxFlex>
      <form [formGroup]="form" (ngSubmit)="performSearch(form.value);" class="search-form" fxShow="false" fxShow.gt-xs>
        <md-icon>search</md-icon>
        <input [formControl]="form.controls['searchText']"   type="text"  placeholder="Search School Emis Code" autofocus="true" />
      </form>
    </div>
    <div><h6 style="color:#FFEB3B; margin-bottom:40px;">{{errorSearch}}</h6></div>
  -->
    <div fxFlex></div>
    <button appToggleFullscreen md-icon-button>
      <md-icon>fullscreen</md-icon>
    </button>
    <!-- <button (click)="end.toggle()" md-icon-button class="ml-xs overflow-visible">
      <md-icon>notifications</md-icon>
      <span class="notification-label">5</span>
    </button> -->
    <button [md-menu-trigger-for]="user" md-icon-button class="ml-xs">
      <md-icon>person</md-icon>
    </button>
    <md-menu #user="mdMenu" x-position="before">
      <button md-menu-item>
        <md-icon>settings</md-icon>
        Settings
      </button>
      <button md-menu-item>
        <md-icon>account_box</md-icon>
        Profile
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        Disable notifications
      </button>
      <button (click) = "logout()" md-menu-item>
        <md-icon>exit_to_app</md-icon>
        Sign Out
      </button>
    </md-menu>
  </md-toolbar>

  <md-sidenav-layout class="app-inner">
    <md-sidenav #sidemenu class="sidebar-panel" [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()">
      <md-nav-list class="navigation accordion">
        <md-list-item class="accordion-link" *ngFor="let menuitem of menuItems.getAll()" group="{{menuitem.state}}">
          <a class="accordion-toggle relative" md-ripple [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a class="accordion-toggle relative" md-ripple href="{{menuitem.state}}" *ngIf="menuitem.type === 'extLink'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a class="accordion-toggle relative" md-ripple href="{{menuitem.state}}" target="_blank" *ngIf="menuitem.type === 'extTabLink'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a class="accordion-toggle relative" md-ripple href="javascript:;" *ngIf="menuitem.type === 'sub'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <md-icon class="menu-caret">arrow_drop_down</md-icon>
          </a>
          <md-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
            <md-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">
              <a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" md-ripple>{{ childitem.name | translate }}</a>
            </md-list-item>
          </md-nav-list>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-layout>
</div>
