<div class="wrapper">
  <md-card _ngcontent-c26="" class="mat-card">
  <md-card-title _ngcontent-c26="" class="mat-card-title "></md-card-title>
  <md-card-subtitle _ngcontent-c26="" class="mat-card-subtitle "></md-card-subtitle>
  <hr _ngcontent-c26="">
  <md-card-content _ngcontent-c26="" class="mat-card-content">
    <p>
      <b style="color:green; margin-left:300px;">You have successfully promoted the students to the next class</b>
    </p>
  </md-card-content>
  <md-card-actions _ngcontent-c26="" class="mat-card-actions">
   <!--  <button md-raised-button color="primary" (click)="editAccount()">Edit Account</button> -->
  </md-card-actions>
</md-card>
</div>
