<md-toolbar color="primary">
  <md-toolbar-row>
  </md-toolbar-row>
</md-toolbar>

<div  fxLayout="row"  fxLayoutWrap="wrap"  fxLayoutAlign="center start">
  <div fxFlex.gt-sm="90" fxFlex="100">
    <md-card class="md-card-top">
      <md-tab-group>
        <md-tab>
          <template md-tab-label>Partner Registration</template>
          <md-card-content>
            <button md-raised-button  style="background-color: #00DB65; color: #fff" *ngIf="success && !fail">{{success}}</button>
            <button md-raised-button color="warn" *ngIf="fail && !success">{{fail}}</button>
            <br>

            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value);">
              <div  fxLayout="row">
               <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                  <md-input placeholder="Partner Name (required)"  [formControl]="form.controls['partner_name']" type="text"></md-input>
                  <small *ngIf="form.controls['partner_name'].hasError('required') && form.controls['partner_name'].touched" class="md-text-warn">Include partner name</small>
                </div>
              </div>
              <div  fxLayout="row">
                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                  <md-input placeholder="Email Address (required)"  [formControl]="form.controls['email']" type="email"></md-input>
                  <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="md-text-warn">Include partner email address</small>
                  <small *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched" class="md-text-warn">Kindly include a valid email address.</small>
                </div>
              </div>
              <div  fxLayout="row">
                <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
                  <md-input  placeholder="Phonenumber (required)"  [formControl]="form.controls['phone']" type="text"></md-input>
                  <small *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched" class="md-text-warn">Include valid phone number</small>
                  <small *ngIf="form.controls['phone'].hasError('number') && form.controls['phone'].touched" class="md-text-warn">Include valid phone number</small>
                </div>
              </div>

              <md-card-actions>
                <button type="submit" [disabled]="!form.valid" md-raised-button class="shadow-none">Save</button>

                <button type="button" (click)="resetButton()" md-raised-button color="primary">Cancel</button>
              </md-card-actions>
            </form>
          </md-card-content>
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
</div>
