<div fxFlex.gt-sm="100%" fxFlex="100">
  <ngx-datatable
    class="material"
    [rows]="students"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="'auto'">
    <ngx-datatable-column name="Student Names">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['studentname']}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Student Code">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['studentcode']}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Gender">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['gender']}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Enrollment Date">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['enrollmentdate'] | date: 'dd MMM yyyy'}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Last Attendance">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['lastdate'] | date: 'dd MMM yyyy'}}
      </template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
