<div *ngIf="loading == true" class="positioning">
  <md-progress-spinner _ngcontent-c21="" class="primary mat-progress-spinner" mode="indeterminate" role="progressbar" _nghost-c22="" style="width:60%;">
    <svg _ngcontent-c22="" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100">
      <path _ngcontent-c22="" d="M67.03072947941752,13.806709829045673A40,40 0 0,1 75.14319329354475,18.890197187969093" style="stroke-width: 10;"></path>
    </svg>
  </md-progress-spinner>
</div>
<div *ngIf="loading == false">
  <md-card>
    <md-card-content>
      <small style="color:red">{{empty}}</small>
      <form [formGroup]="form" (ngSubmit)="searchChild(form.value);">
        <md-input placeholder="Search by name"  [formControl]="form.controls['search']" style="width: 98%" class="mb-1 ml-1 mr-1"></md-input>
        <br>
        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
            Search by Gender
            <md-select  placeholder="Gender" [formControl]="form.controls['gender']" class="mb-2">
              <md-option>-</md-option>
              <md-option  value="M">Male</md-option>
              <md-option  value="F">Female</md-option>
            </md-select>
        </div>
        <div *ngIf="admin" fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
          Search by Partner
          <md-select  placeholder="Partner" [formControl]="form.controls['partner']" class="mb-2">
            <md-option *ngFor = "let name of allpartners" value="{{name.id}}">
              {{name.name}}
            </md-option>
          </md-select>
        </div>
        <md-card-actions>
          <button type="submit" md-raised-button class="shadow-none">Search</button>
           <a *ngIf="partnerId" href="{{link}}"><button type="button" (click)="exportAttendance()" md-raised-button color="primary" style="margin-left: 70%;">Export Attendance</button></a>

        </md-card-actions>
      </form>
    </md-card-content>
  </md-card>
  <div fxLayout="row"  fxLayoutWrap="wrap">
    <!--<div fxFlex.gt-sm="25%" fxFlex.gt-xs="50" fxFlex="100">
      <md-card class="card-widget md-teal">
        <div md-card-widget>
          <div md-card-float-icon>
            <md-icon>local_offer</md-icon>
          </div>
          <div class="pl-0">
            <h5 md-card-widget-title>{{ allChildren }}</h5>
            <p>Total Children</p>
          </div>
        </div>
      </md-card>
    </div>-->
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="50" fxFlex="100">
      <md-card class="card-widget md-teal">
        <div md-card-widget>
          <div md-card-float-icon>
            <md-icon>local_offer</md-icon>
          </div>
          <div class="pl-0">
            <h5 md-card-widget-title>{{ count }}</h5>
            <p>Total New Enrollments</p>
          </div>
        </div>
      </md-card>
    </div>
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="50" fxFlex="100">
      <md-card class="card-widget md-indigo">
        <div md-card-widget>
          <div md-card-float-icon>
            <md-icon>people</md-icon>
          </div>
          <div class="pl-0">
            <h5 md-card-widget-title> {{ males }} </h5>
            <p>Boys Enrolled</p>
          </div>
        </div>
      </md-card>
    </div>
    <div fxFlex.gt-sm="33%" fxFlex.gt-xs="50" fxFlex="100">
      <md-card class="card-widget md-red">
        <div md-card-widget>
          <div md-card-float-icon>
            <md-icon>people_outline</md-icon>
          </div>
          <div class="pl-0">
            <h5 md-card-widget-title>{{females}}</h5>
            <p>Girls Enrolled</p>
          </div>
        </div>
      </md-card>
    </div>
  </div>
  <ngx-datatable
    class="material fullscreen"
    [columns]="columns"
    [sortType]="'multi'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="children"
    [selected]="selected"
    [selectionType]="'single'"
    [externalPaging]="true"
    [count]="count"
    [offset]="offset"
    [limit]="limit"
    (page)='onPage($event)'
    (activate)='onActivate($event)'
    (select)='onSelect($event)'>
  </ngx-datatable>
</div>
