<div fxLayout="row"  fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-teal">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>local_offer</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>{{ total }}</h5>
          <p>Total Enrollments</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-purple">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>phone</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title> {{ males }} </h5>
          <p>Boys Enrolled</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-red">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>notifications</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>{{females}}</h5>
          <p>Girls Enrolled</p>
        </div>
      </div>
    </md-card>
  </div>
</div>

<md-input placeholder="Type to filter the name column..." required (keyup)='updateFilter($event)' style="width: 100%" class="mb-1 ml-1 mr-1"></md-input>
<div fxFlex.gt-sm="100%" fxFlex="100">
  <ngx-datatable
    class="material"
    [rows]="students"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="'auto'">
    <ngx-datatable-column name="Student Names">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['studentname']}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Student Code">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['studentcode']}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Gender">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['gender']}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Enrollment Date">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['enrollmentdate'] | date: 'dd MMM yyyy'}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Last Attendance">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row['lastdate'] | date: 'dd MMM yyyy'}}
      </template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
