<md-card class="md-card-top">
  <md-toolbar color="warn">
    <span fxFlex="100">Child Details</span>
    <button  md-icon-button>
      <md-icon>close</md-icon>
    </button>
  </md-toolbar>
  <md-card-content>
    <small style="color: green;">{{success}}</small>
    <small style="color: red;">{{fail}}</small>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value);" >
      <div  fxLayout="row">
        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
          <md-input dividerColor="primary"  placeholder="First Name (required)" name="firstName" value="{{firstname}}" FormControlName="firstName"  type="text"></md-input>
          <small *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched" class="md-text-warn">Kindly include a first name.</small>

        </div>
        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
          <md-input dividerColor="primary" placeholder="Mid Name" value="{{midname}}" name="maidenName" FormControlName="maidenName" type="text"  ></md-input>
        </div>

        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
          <md-input dividerColor="primary" placeholder="Last Name (required)" value="{{lastname}}" name="lastName" FormControlName="lastName"   type="text" ></md-input>
          <small *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched" class="md-text-warn">Kindly include a last name.</small>

        </div>
      </div>

      <div  fxLayout="row">
        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
          <md-input placeholder="Admission Number (required)" value="{{admNo}}" name="admNo" FormControlName="admNo"   type="text"></md-input>
        </div>

        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
          <md-input placeholder="Date Enrolled (required)" value="{{enrolDate}}" name="enrolDate" FormControlName="enrolDate" type="date"></md-input>
          <small *ngIf="form.controls['enrolDate'].hasError('required') && form.controls['enrolDate'].touched" class="md-text-warn">Kindly include a date.</small>
          <small *ngIf="form.controls['enrolDate'].hasError('date') || form.controls['enrolDate'].hasError('maxDate') && form.controls['enrolDate'].touched" class="md-text-warn">Kindly include a valid date.</small>
        </div>
      </div>

      <div  fxLayout="row">
        <span style="margin-right:90px;"></span>
        <label>Gender</label>
          <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 70%;">
            <md-radio-group value="{{gender}}" name="gender" FormControlName="gender">
              <md-radio-button value="M">Male</md-radio-button>
              <md-radio-button value="F">Female</md-radio-button>
            </md-radio-group>
            <small *ngIf="form.controls['gender'].hasError('required') && form.controls['gender'].touched" class="md-text-warn">Kindly input the student's gender.</small>

          </div>

          <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 100%;">
            <md-input placeholder="Birthday (required)" value="{{dob}}" name="dateOfBirth" FormControlName="dateOfBirth" type="date"></md-input>
            <small *ngIf="form.controls['dateOfBirth'].hasError('required') && form.controls['dateOfBirth'].touched" class="md-text-warn">Kindly include a date.</small>
            <small *ngIf="form.controls['dateOfBirth'].hasError('date') || form.controls['dateOfBirth'].hasError('maxDate') && form.controls['dateOfBirth'].touched" class="md-text-warn">Kindly include a valid date.</small>
          </div>
      </div>

      <div  fxLayout="row" >
        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
          <md-select required [formControl]="form.controls['className']"  placeholder="Class (required)">
            <md-option name="className" *ngFor = "let name of schoolClasses" value="{{class_}}">
              {{name.class_name}}
            </md-option>
          </md-select>
          <small *ngIf="form.controls['className'].hasError('required') && form.controls['className'].touched" class="md-text-warn">Kindly input the class.</small>

      </div>

        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 40%;">
          <md-input placeholder="Previous Class" value="{{previousClass}}" name="previousClass" FormControlName="previousClass" type="text"></md-input>
          <small *ngIf="form.controls['previousClass'].hasError('required') && form.controls['previousClass'].touched" class="md-text-warn">Kindly input the previous class.</small>
          <small *ngIf="form.controls['previousClass'].hasError('number') && form.controls['previousClass'].touched" class="md-text-warn">Kindly input a valid digit.</small>
        </div>

        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
          <md-select ngModel  [formControl]="form.controls['notInSchool']" placeholder="Been in school before?">
            <md-option selected value="{{inSchool}}">{{inSchool}}</md-option>
            <md-option value="True">Yes</md-option>
            <md-option value="False">No</md-option>
          </md-select>
          <small *ngIf="form.controls['notInSchool'].hasError('required') && form.controls['notInSchool'].touched" class="md-text-warn">Kindly input a value.</small>
        </div>
      </div>

      <div  fxLayout="row">
        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 50%;">
          <md-select  [formControl]="form.controls['modeOfTransport']"  placeholder="Mode of Transport">
            <md-option selected value="{{mode_of_transport}}">{{mode_of_transport}}</md-option>
            <md-option value="Personal Vehicle">Personal Vehicle</md-option>
            <md-option value="School Bus">School Bus</md-option>
            <md-option value="By Foot">By Foot</md-option>
          </md-select>
          <small *ngIf="form.controls['modeOfTransport'].hasError('required') && form.controls['modeOfTransport'].touched" class="md-text-warn">Kindly input the child's mode of transport.</small>
        </div>

        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 50%;">
          <md-select  [formControl]="form.controls['timeToSchool']"   placeholder="Time taken to reach school">
            <md-option selected value="{{time_to_school}}">{{time_to_school}}</md-option>
            <md-option value="less than 1/2 hour">Less than 1/2 hour</md-option>
            <md-option value="1 hour">1 hour</md-option>
            <md-option value="more">More than 1 hour</md-option>
          </md-select>
          <small *ngIf="form.controls['timeToSchool'].hasError('required') && form.controls['timeToSchool'].touched" class="md-text-warn">Kindly input the child's time taken to school.</small>
        </div>
      </div>

      <h6>Household Details</h6>
      <hr>
      <br>
      <div  fxLayout="row">
        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 30%;">
          <md-select ngModel  [formControl]="form.controls['stayWith']"  placeholder="Whom do you stay with?">
            <md-option value="{{guardian}}">{{guardian}}</md-option>
            <md-option value="Parents">Parents</md-option>
            <md-option value="Guardians">Guardians</md-option>
            <md-option value="Alone">Alone</md-option>
          </md-select>
        </div>

        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 35%;">
          <md-input  placeholder="Number of people in household" value="{{household}}" name="householdNumber" FormControlName="householdNumber" type="text"></md-input>
        </div>

        <div fxLayout="column"  class="mb-2 ml-xs mr-xs" style="width: 35%;">
          <md-input  placeholder="Number of meals/day" value="{{meals}}" name="mealsInDay" FormControlName="mealsInDay" type="text"></md-input>
          <small *ngIf="form.controls['mealsInDay'].hasError('number') && form.controls['phoneNumber'].touched" class="md-text-warn">Kindly input a digit.</small>

        </div>
      </div>
      <hr>
      <md-card-actions>
        <button type="submit" [disabled]="!form.valid" md-raised-button class="shadow-none">Save</button>
        <button md-raised-button class="warn">Delete</button>
        <button type="button" (click)="dialogRef.close()" md-raised-button color="primary">Cancel</button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>
