<div class="row">
  <div class="search-bar" fxFlex>
    <form  class="search-form" fxShow="false" fxShow.gt-xs>
      <md-icon>search</md-icon>
      <input type="text"  placeholder="Search School Emis Code" autofocus="true" />
    </form>
  </div>
</div>
<br>
<ngx-datatable
  class="material fullscreen"
  [columns]="columns"
  [sortType]="'multi'"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="0"
  [rowHeight]="50"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [rows]="children"
  [selected]="selected"
  [selectionType]="'single'"
  (activate)="onActivate($event)"
  (select)='onSelect($event)'>
</ngx-datatable>
