<div fxLayout="row"  fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-teal">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>local_offer</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>{{ schools }}</h5>
          <p>Schools Registered</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-purple">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>phone</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title> {{ students }} </h5>
          <p>Children Enrollment</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-red">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>notifications</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>{{ males }}</h5>
          <p>Boys</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-indigo">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>email</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>{{ females }}</h5>
          <p>Girls</p>
        </div>
      </div>
    </md-card>
  </div>
</div>

<div fxLayout="row"  fxLayoutWrap="wrap">
	<div fxFlex.gt-sm="33.33%" fxFlex="100">
		<md-card>
      <md-card-subtitle fxLayout="row"  fxLayoutAlign="start center">
        Daily Attendance <span class="font-weight-bold md-text-primary"></span>
        <span fxFlex></span>
        <button md-icon-button md-button-sm [md-menu-trigger-for]="card1" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
      </md-card-subtitle>
      <md-menu #card1="mdMenu" x-position="before">
        <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
        <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
        <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
        <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
      </md-menu>
			<md-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="chartColors"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </md-card-content>
		</md-card>
	</div>
	<div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
		<md-card>
      <md-card-subtitle fxLayout="row"  fxLayoutAlign="start center">
        Monthly Attendance Summary &nbsp; <span class="font-weight-bold md-text-warn"></span>
        <span fxFlex></span>
        <button md-icon-button md-button-sm [md-menu-trigger-for]="card2" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
      </md-card-subtitle>
      <md-menu #card2="mdMenu" x-position="before">
        <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
        <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
        <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
        <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
      </md-menu>
			<md-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="ComboChartData"
          [labels]="comboChartLabels"
          [options]="ComboChartOptions"
          [colors]="chartColors"
          [legend]="comboChartLegend"
          [chartType]="barChartType">
        </canvas>
      </md-card-content>
		</md-card>
	</div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
		<md-card>
      <md-card-subtitle fxLayout="row"  fxLayoutAlign="start center">
        Annual Attendance Summary &nbsp; <span class="font-weight-bold md-text-warn"></span>
        <span fxFlex></span>
        <button md-icon-button md-button-sm [md-menu-trigger-for]="card2" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
      </md-card-subtitle>
      <md-menu #card2="mdMenu" x-position="before">
        <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
        <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
        <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
        <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
      </md-menu>
			<md-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="ComboChartData"
          [labels]="comboChartLabels"
          [options]="ComboChartOptions"
          [colors]="chartColors"
          [legend]="comboChartLegend"
          [chartType]="barChartType"></canvas>
      </md-card-content>
		</md-card>
	</div>
</div>

<div fxLayout="row"  fxLayoutWrap="wrap">

  <div fxFlex.gt-sm="66.66%" fxFlex="100">
    <md-card>
      <md-card-content>
        <canvas height="100" baseChart class="chart"
          [datasets]="ComboChartData"
          [labels]="comboChartLabels"
          [options]="ComboChartOptions"
          [colors]="chartColors"
          [legend]="comboChartLegend"
          [chartType]="barChartType"></canvas>
      </md-card-content>
    </md-card>
  </div>

  <div fxFlex.gt-sm="33.33%" fxFlex="100">
    <md-card>
      pie (enrollment, Boys | Girls per month)
    </md-card>
  </div>
</div>
