<!--
<div class="search-bar" fxFlex>
  <form [formGroup]="form" (ngSubmit)="performSearch(form.value);" class="search-form" fxShow="false" fxShow.gt-xs>
    <md-icon>search</md-icon>
    <input [formControl]="form.controls['searchText']"   type="text"  placeholder="Search School Emis Code" autofocus="true" />
  </form>
</div>
<div><h6 style="color:#FFEB3B; margin-bottom:40px;">{{errorSearch}}</h6></div>

-->
<ngx-datatable
  class="material fullscreen"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="0"
  [rowHeight]="50"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [rows]="schools"
  [selected]="selected"
  [selectionType]="'single'"
  (activate)="onActivate($event)"
  (select)='onSelect($event)'>
</ngx-datatable>
