<md-toolbar color="primary">
  <md-toolbar-row>
  </md-toolbar-row>
</md-toolbar>
<div  fxLayout="row"  fxLayoutWrap="wrap"  fxLayoutAlign="center start">
  <div fxFlex.gt-sm="90" fxFlex="100">
    <md-card class="md-card-top">
      <md-tab-group>
        <md-tab>
          <template md-tab-label>Schools Registration</template>
          <md-card-content>
            <h6 *ngIf="success && !fail" style="color: green;">{{success}}</h6>
            <h6 *ngIf="fail && !success" style="color: red;">{{fail}}</h6>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value);"  fxLayout="column">
              <md-input placeholder="School Name (required)" [formControl]="form.controls['schoolName']" style="width: 100%" value="{{schoolname}}">{{schoolname}}</md-input>
              <small *ngIf="form.controls['schoolName'].hasError('required') && form.controls['schoolName'].touched" class="md-text-warn">Kindly input a school name.</small>

              <md-input placeholder="School Code (optional)" [formControl]="form.controls['schoolCode']" style="width: 100%" value="{{schoolcode}}">{{schoolcode}}</md-input>

              <md-input placeholder="Emis Code (optional)" [formControl]="form.controls['emisCode']"   class="mb-1" value="{{schoolEmisCode}}">{{schoolEmisCode}}</md-input>

              <md-select ngModel placeholder="County" [formControl]="form.controls['county']" class="mb-2">
                <md-option style="visibility: hidden" selected value="{{countySchool}}">{{countySchool}}</md-option>
                <md-option  *ngFor = "let name of countyName" value="{{countySchool}}" (click)="onSelect($event.target.value, name.id)" (keyup)="onSelect($event.target.value)" >
                  {{name.county_name}}
                </md-option>
              </md-select>

              <md-select ngModel placeholder="Sub County" [formControl]="form.controls['zone']" class="mb-2">
                <md-option style="visibility: hidden" selected value="{{subcountyid}}">{{subcountyname}}</md-option>
                <md-option *ngFor = "let name of subcounties" value="{{name.id}}">{{name.name}}</md-option>
              </md-select>

              <md-select ngModel [formControl]="form.controls['waterSource']" placeholder="Source of water" class="mb-2">
                <md-option style="visibility: hidden" selected="selected" value="{{watersource}}">{{watersource}}</md-option>
                <md-option value="borehole">Borehole</md-option>
                <md-option value="river">River</md-option>
              </md-select>

              <h6>Geo Coordinates</h6>
              <md-input placeholder="Longitude" [formControl]="form.controls['long_geo_cordinates']"   class="mb-1" value="{{longitude}}">{{longitude}}</md-input>

              <md-input placeholder="Latitude" [formControl]="form.controls['lat_geo_cordinates']"   class="mb-1" value="{{latitude}}">{{latitude}}</md-input>

              <hr>
              <md-card-actions>
                <button type="submit" md-raised-button class="shadow-none">Edit</button>
                <!--<button type="button" md-raised-button class="warn">Delete</button>-->
                <button type="button" (click)="navigateBack()" md-raised-button color="primary">Back</button>
              </md-card-actions>
            </form>
          </md-card-content>
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
</div>
