<div class="wrapper">
  <div  fxLayout="row"  fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
      <md-card>
        <md-card-content>
          <div  fxLayout="row">
            <div fxFlex="55">
              <h4 class="ma-0">Gerald <b>Morris</b></h4>
              <small>gerald@morris.com</small>
              <p class="mt-xs mb-xs">Human Resources Manager</p>
              <a href="javascript:;" class="block mt-xs mb-xs">email@contact.com</a>
              <a href="javascript:;" class="block mt-xs mb-xs">www.example.com</a>
              <button md-raised-button color="primary">Edit Profile</button>
            </div>
            <div fxFlex="45">
              <figure>
                <div class="text-xs-center">
                  <img src="assets/images/avatar.jpg" alt="" class="radius-circle">
                  <div class="text-md mt10">Account Usage</div>
                </div>
                <div class="ma-xs">
                  <md-progress-bar mode="determinate" value="40"></md-progress-bar>
                </div>
                <div  class="text-xs-center"><small>234Gb of 879Gb</small></div>
              </figure>
            </div>
          </div>
        </md-card-content>
        <hr>
      </md-card>
    </div>
  </div>
</div>
