<div fxLayout="row"  fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-white">
      <div md-card-widget>
        <div class="pl-0">
          <h5 md-card-widget-title>Name: {{ partnerName }}</h5>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="34" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-white">
      <div md-card-widget>
        <div class="pl-0">
          <h5 md-card-widget-title>Email: {{ partnerEmail }}</h5>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-white">
      <div md-card-widget>
        <div class="pl-0">
          <h5 md-card-widget-title>Phone: {{ partnerPhone }}</h5>
        </div>
      </div>
    </md-card>
  </div>
</div>

<div fxLayout="row"  fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-teal">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>home</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>{{ schools }}</h5>
          <p>Schools</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-purple">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>person_add</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title> {{ students }} </h5>
          <p>All Children</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-indigo">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>people</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>{{ males }}</h5>
          <p>Boys</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget md-red">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>people_outline</md-icon>
        </div>
        <div class="pl-0">
          <h5 md-card-widget-title>{{ females }}</h5>
          <p>Girls</p>
        </div>
      </div>
    </md-card>
  </div>
</div>

<div fxLayout="row"  fxLayoutWrap="wrap">
	<div fxFlex.gt-sm="33.33%" fxFlex="100">
		<md-card>
      <md-card-title>Daily Attendance</md-card-title>
      <md-card-subtitle fxLayout="row"  fxLayoutAlign="start center">
        Aggregated Daily Attendance <span class="font-weight-bold md-text-primary"></span>
      </md-card-subtitle>
			<md-card-content>
        <canvas height="260" baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="chartColors"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </md-card-content>
		</md-card>
	</div>
	<div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
		<md-card>
      <md-card-title>Monthly Attendance</md-card-title>
      <md-card-subtitle fxLayout="row"  fxLayoutAlign="start center">
      Aggregated: &nbsp;<b>BAR -</b>&nbsp; Presents |&nbsp;<b>LINE - </b>&nbsp; Absents &nbsp; <span class="font-weight-bold md-text-warn"></span>
      </md-card-subtitle>
			<md-card-content>
        <canvas height="260" baseChart class="chart"
          [datasets]="comboChartData"
          [labels]="comboChartLabels"
          [options]="ComboChartOptions"
          [colors]="chartColors"
          [legend]="comboChartLegend"
          [chartType]="barChartType">
        </canvas>
      </md-card-content>
		</md-card>
	</div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
		<md-card>
      <md-card-title>Attendance per Gender</md-card-title>
      <md-card-subtitle fxLayout="row"  fxLayoutAlign="start center">
        Annual Attendance per Gender &nbsp; <span class="font-weight-bold md-text-warn"></span>
      </md-card-subtitle>
			<md-card-content>
        <small *ngIf=noAttendanceGender>{{noAttendanceGender}}</small>
        <canvas height="260" baseChart class="chart"
          [data]="pieChartData"
          [options]="doughnutOptions"
          [colors]="doughnutChartColors"
          [labels]="pieChartLabels"
          [chartType]="pieChartType">
        </canvas>
      </md-card-content>
		</md-card>
	</div>
</div>

<div fxLayout="row"  fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="66.66%" fxFlex="100">
    <md-card>
      <md-card-title>Enrollments</md-card-title>
      <md-card-subtitle>Children enrolled per class in partner's schools</md-card-subtitle>
      <md-card-content>
        <canvas height="120" baseChart class="chart"
          [datasets]="EnrolledComboChartData"
          [labels]="EnrolledComboChartLabels"
          [options]="ComboChartOptions"
          [colors]="chartColors"
          [legend]="comboChartLegend"
          [chartType]="barChartType"></canvas>
      </md-card-content>
    </md-card>
  </div>

  <!-- pie -->
  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card>
        <md-card-title>Enrollment per Gender</md-card-title>
        <md-card-subtitle>Boys and Girls enrolled in the Past Year</md-card-subtitle>
        <md-card-content>
          <small *ngIf=noNewlyEnrolled>{{noNewlyEnrolled}}</small>
          <canvas height="260" baseChart class="chart"
            [data]="pieChartEnrollmentData"
            [options]="doughnutOptions"
            [colors]="doughnutChartColors"
            [labels]="pieChartLabels"
            [chartType]="pieChartType">
          </canvas>
        </md-card-content>
    </md-card>
  </div>
</div>
