<div class="wrapper">
  <div  fxLayout="row"  fxLayoutWrap="wrap" fxLayoutAlign="center start">
    <div fxFlex.gt-sm="90" fxFlex="100">
      <md-card>
        <md-card-content>
          <div  fxLayout="row">
            <div fxFlex="50">
            <h4 class="ma-0">Class&nbsp;<b>1 East</b></h4>
            <br>
              <p><small>Number of students: </small><br>50</p>

              <!--<button md-raised-button color="primary" (click)="editProfile = true">Edit Profile</button>-->
            <!--  <button md-raised-button color="primary" (click)="open()" [disabled]="dialogRef">Edit Class</button>
            -->
            </div>
            <div fxFlex="50">
              <h4 class="ma-0">&nbsp;</h4>
              <br>
              <p><small>Boys:</small>20 <br><small>Girls:</small>30</p>

              <!--
              <button md-raised-button color="warn" (click)="open()" [disabled]="dialogRef">Delete Class</button>
            -->
            </div>
          </div>
        </md-card-content>
        <hr>
        <md-card-content>
          <p class="text-xs-center">Please use the provided information for official use only.</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
